HELP.md
target/

**/mvnw
**/mvnw.cmd
**/mvn.cmd
**/.mvn

web/renren-fast-vue/.DS_Store
node_modules/
dist/
web/renren-fast-vue/npm-debug.log*
web/renren-fast-vue/yarn-debug.log*
web/renren-fast-vue/yarn-error.log*
web/renren-fast-vue/test/unit/coverage/
web/renren-fast-vue/test/e2e/reports/
web/renren-fast-vue/selenium-debug.log

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
